<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="catalogDataStore" class="com.somecompany.datastore.XMLCatalogDataStore">
        <constructor-arg type="java.lang.String" value="src/test/resources/Catalog_catalogServiceTest.xml"/>
    </bean>
    <bean id="catalogDao" class="com.somecompany.datastore.dao.CatalogDao">
        <constructor-arg ref = "catalogDataStore"/>

    </bean>
    <bean id="catalogService" class="com.somecompany.service.CatalogServiceImpl">
        <constructor-arg ref = "catalogDao"/>
    </bean>

</beans>